---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import TableOfContent from '../../components/TableOfContent.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { headings, Content } = await post.render();
---
<style>
    .back-button {
        color: white;
        background-color: dodgerblue;

        border-radius: 5px;

        text-decoration: none;

        padding: 0.5rem;
        margin-top: 1rem;
    }
    .back-button:hover {
        filter: brightness(110%);
    }

    .blog-container {
        display: flex; 
        flex-direction: row; 
        
        gap: 1rem;
    }
    .blog-toc {
        margin-right: 1rem
    }
    .blog-content {
        flex: 1;
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .content-container {
        max-width: 70ch;
    }

    hr {
        margin-bottom: 2rem;
    }

    @media (max-width: 720px) {
        .blog-toc {
            display: none;
        }
    }
</style>

<BlogPost {...post.data}>
    <div class="blog-container">
        <div class="blog-toc">
            <TableOfContent headings={headings} />
        </div>
        <div class="blog-content">
            <div class="content-container">
                <Content />
            </div>
            <hr/>
            <a href="/blog" class="back-button">Read more posts..</a>
        </div>
    </div>
</BlogPost>
