---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import TableOfContent from '../../components/TableOfContent.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { headings, Content } = await post.render();
---
<BlogPost {...post.data}>
    <div style="display: flex; flex-direction: row; gap: 1rem">
        <div class="blog-toc">
            <TableOfContent headings={headings} />
        </div>
        <div style="flex: 8">
            <Content />
        </div>
    </div>
</BlogPost>
