<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] | Cyber Bilby</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CyberBilby.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <aside>
            <div class="site-logo">
                <img src="/image/bilby.png" alt="cyber bilby" />
                <span>Cyber Bilby</span>
            </div>

            <nav>
                <ul>
                    <li>
                        <a href="#" class="nav-item selected">Home</a>
                    </li>

                    <li>
                        <a href="#" class="nav-item">Posts</a>
                    </li>
                </ul>
            </nav>
        </aside>

        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <span>Copyright &copy; 2024</span>
        <span>-</span>
        <span>Cyber Bilby</span>
        <span>-</span>
        <a asp-area="" asp-page="/Privacy">Privacy</a>
    </footer>
</body>
</html>