---
import FormattedDate from './FormattedDate.astro';
import ProfileImage from './ProfileImage.astro';

interface Props {
    id: string;
    name: string;
    date: Date;
}

const { id, name, date } = Astro.props;
---

<style>
    .author {
        display: flex;
        flex-direction: row;

        align-items: center;

        gap: 0.5rem;
    }
    .author img {
        max-width: 50px;
    }
    .author-details {
        display: flex;
        flex-direction: column;

        align-items: start;

        line-height: 1.2;
    }
    .date {
        color: rgb(var(--gray));
        font-size: 1rem;
    }
</style>

<div class="author">
    <ProfileImage authorId={id} authorName={name} width={50} height={50}></ProfileImage>
    
    <div class="author-details">
        {name}
        <div class="date">
            Posted <FormattedDate date={date} />
        </div>
    </div>
</div>
