---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { Image } from 'astro:assets';

import cyberBilbyImage from '../content/images/cyberbilby.png';
---

<style>
    header {
        box-shadow: rgb(210, 210, 210) 0 1px 10px;
    }
    nav {
        display: flex;
    }
    .site-title {
        display: flex;
        flex-direction: row;

        align-items: center;

        gap: 0.5rem;
    }
</style>

<header>
	<nav>
        <a href="/" class="site-title">
            <Image src={cyberBilbyImage} alt="cyber bilby logo" width={50} height={50} densities={[1,2]}></Image>
            <h2>{SITE_TITLE}</h2>
        </a>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
