<div style="display: flex; flex-direction: row;">
    <div style="display: flex; align-items: center; justify-content: center; background-color: orange; padding: 0.25rem; border-radius: 5px 0px 0px 5px;">
    </div>
    <div style="display: flex; flex-direction: column; gap: 0.5rem; flex: 1; border: 1px solid orange; border-radius: 0px 5px 5px 0px; padding: 0.5rem; background-color: white">
        <div style="display: flex; flex-direction: row; align-items: center; gap: 0.5rem; color: orange; font-weight: 600">
            <img src="/images/exclaim.png" width="24px" height="24px" style="filter: brightness(50%) sepia() hue-rotate(10deg) saturate(25)">
            <div>Warning</div>
        </div>
        <div style="font-size: 0.9rem">
            {{ .Inner }}
        </div>
    </div>
</div>