@page "/manage"
@using CyberBilby.MgmtClient.Components.Models
@rendermode InteractiveServer

@{
    var profile = ProfileManager.CurrentProfile;
}

<Alert></Alert>

@if (profile is not null)
{
<div class="container">
    <div class="sidebar">
        <div class="profile">
            <div>
                @profile.Name
            </div>
            <div>
                @profile.Role
            </div>
        </div>

        @foreach (AuthPage page in Enum.GetValues(typeof(AuthPage)))
        {
            <div @onclick="() => { UpdatePage(page); }" class="sidebar-item @(CurrentPage == page ? "active" : "")">
                @(page.ToString())
            </div>
        }
    </div>

    <div class="page">
        @if(CurrentPage == AuthPage.Dashboard)
        {
            <Dashboard></Dashboard>
        }
        else if(CurrentPage == AuthPage.Posts)
        {
            <Posts></Posts>
        }
    </div>
    </div>
}
else
{
    <div>Unauthenticated</div>
}