.container {
    flex: 1;

    display: flex;

    background-image: url('/images/tile.png');
    background-repeat: repeat;
}

.inner-container {
    flex: 1;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    animation-name: dropdown;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.title {
}

.login {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;

    padding: 1rem;

    border: 1px solid #303030;
    border-radius: 5px;

    background-color: #252525;

    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px;
}

.login-item {
    display: flex;
    flex-direction: column;

    gap: 0.25rem;
}

select,
input {
    padding: 0.5rem;

    color: white;
    background-color: #303030;

    border: 1px solid #404040;
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px inset;
}

button {
    padding: 0.5rem;

    color: white;
    background-color: dodgerblue;

    border: 0;
    border-radius: 5px;

    transition: filter 0.25s;
}
button:hover {
    filter: brightness(125%);
}
button:active {
    filter: brightness(100%);
}

.identity-option {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}